body {
  background-image: url("../images/arcade.jpg"); /* tu color deseado */
  background-size: 90% 105%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: burlywood;
}

#gameScreen{

    width: 896px;
    height: 960px;
    margin-top: 105px;
    margin-left: 642px;
    background-color: black;
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
}

#gameHUD{

    width: 1203px;
    height: 64px;
    margin-left: 414px;
    margin-bottom: -115px;
    background-color: black;
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

@font-face {

    font-family: emulogic;
    src: url("../fonts/Pokemon.ttf");
}

#gameHUD_RIGHT{

    width: 300px;
    height: 960px;
    margin-left: -5px;
    object-fit: contain;
    background-color: black;
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
