body {
  background-image: url("../images/arcade.jpg"); /* tu color deseado */
  background-size: 100% 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: burlywood;
}

#gameScreen{

    position: absolute;
    width: 627.2px;
    height: 672px;
    left: 43.6%;
    top: 59%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
}

#gameHUD{

    position: absolute;
    width: 842.1px;
    height: 44.8px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(59% - 380.8px);
    margin-bottom: -1px;
    background-color: black;
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

@font-face {

    font-family: emulogic;
    src: url("../fonts/PressStart2P.ttf");
}

#gameHUD_RIGHT{

    position: absolute;
    width: 210px;
    height: 672px;
    left: calc(43.8% + 313.6px);
    top: 59%;
    transform: translateY(-50%);
    margin-left: -1px;
    object-fit: contain;
    background-color: black;
    border-style: solid;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
